[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"
version = "2.2.6"
description = "Simple GUI for creating aeronautical-meteorological report from MRPV"

[packages]
pillow = "*"
docx2txt = "*"
suntime = "*"
python-docx = "*"
justifytext = "*"
requests = "*"
img2pdf = "*"
pytz = "*"
beautifulsoup4 = "*"
bump2version = "*"
pikepdf = "*"
tk = "*"

[dev-packages]
isort = "*"
black = "*"
bump2version = "*"
pyinstaller = "*"

[pipenv]
allow_prereleases = true
